[submodule "apps/cadera-backend"]
	path = apps/cadera-backend
	url = https://github.com/asiimwemmanuel/Cadera-backend
[submodule "apps/cadera-frontend"]
	path = apps/cadera-frontend
	url = https://github.com/Josh-The-Developapa/Cadera-frontend
